{% extends "templates/base.html" %}
{% block content %}
	<br/>
	<div class="contentheader">
		<p>Thank you for visiting my webpage!</p>
	</div>
	<div class="introtext">
		<p>
			My name is Nick Reitnour and I'm a Junior at the Stephen M. Ross School of Business. While I have developed a strong skillset in Finance and Technology Operations, I have recently taken a strong interest in computer programming. I am excited to now be proficient in Python, HTML, CSS, and JavaScript. However, I am truly ecstatic about what I will be able to do in another year's time.<br/>
		</p>
	</br>

	<div class="aboutMeMain">
		<img src= "static/skills.png" alt = "linkedinskills" class="skills"/>
	</div>


{% endblock %}