{% extends "templates/base.html" %}
{% block content %}
	<p class="subheader">Notable Courses</p>
		<div class="gallery">
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/mkt300.png" alt="Marketing Management"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/fin300.png" alt="Financial Management"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/to301.png" alt="Business Analytics / Statistics"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/bcom350.png" alt="Professional Communication Strategies"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/strat290.png" alt="Business Strategy"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/bcom369.png" alt="Effective Business Presentations"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/mkt313.png" alt="Consumer Behavior"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/mo415.png" alt="Human Capital Management"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/to300.png" alt="Business Information Systems"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/to426.png" alt="Mobile Innovation Development"/>
			</div>
		</div>
	<p class="subheader">Programming Proficiency</p>
		<div class="gallery">
			<div class="picture_and_label">
				<img src= "static/python.png" alt="Python"/>
				<p class="name">Python</p>
			</div>
			<div class="picture_and_label">
				<img src= "static/HTML.png" alt="HTML"/>
				<p class="name">HTML</p>
			</div>
			<div class="picture_and_label">
				<img src= "static/CSS.png" alt="CSS"/>
				<p class="name">CSS</p>
			</div>
			<div class="picture_and_label">
				<img src= "static/javascript.png" alt="JavaScript"/>
				<p class="name">JavaScript</p>
			</div>
			<div class="picture_and_label">
				<img src= "static/saql.png" alt="Salesforce Analytics Query Language"/>
				<p class="name">Pigql</p>
			</div>
		</div>
	<p class="subheader">Influential Books</p>
		<div class="gallery">
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/madetostick.jpeg" alt="Made To Stick"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/influencepeople.jpeg" alt="How To Win Friends and Influence People"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/leanstartup.jpeg" alt="The Lean Start-Up"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/googleworks.jpeg" alt="How Google Works"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/fortune.jpeg" alt="Fortune's Formula"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/moneyball.jpeg" alt="Moneyball"/>
			</div>
			<div class="picture_and_label">
				<img class="dropshadow" src= "static/dilemma.jpeg" alt="The Innovator's Dilemma"/>
			</div>
		</div>
	<p class="subheader">Other</p>
		<div class="gallery">
			<div class="picture_and_label">
				<img src= "static/sinek.png" alt="Golden Circle"/>
			</div>
		</div>
{% endblock %}



<!-- style="float: left;" -->